<h1>Full list</h1>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to "Create new list", new_list_path %>

<%= cl_image_tag("lvoujvkqfn3bzis8pddj", width: 400, height: 300, crop: :fill) %>
